<div class="container" style="padding: 4%">
    <button routerLink="/" class="btn btn-secondary">Go Back</button>
  <div class="row">
    <canvas id="myChart" width="700" height="250" #mychart></canvas>
  </div>
  <div class="row">
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Sr No.</th>
          <th scope="col">TimeStamp</th>
          <th scope="col">unit Cost($)</th>
          <th scope="col">Number of units</th>
          <th scope="col">Source type</th>
          <th scope="col">Number of hours</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>time</td>
          <td>0.20</td>
          <td>150</td>
          <td>Gas</td>
          <td>3</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>time</td>
          <td>0.20</td>
          <td>150</td>
          <td>Gas</td>
          <td>3</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
